<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CHACUN SA BULLE</title>
    <link type="text/css" href="~/CSSfiles/styles.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <script>
	function toggleNavPanel(x){
		var panel = document.getElementById(x), navarrow = document.getElementById("navarrow"), maxH="300px";
		if(panel.style.height == maxH){
			panel.style.height = "0px";
			panel.style.display = "none";
		} else {
			panel.style.height = maxH;
			panel.style.display = "inline-block";
		}
	}
	</script>

    <!--Required libraries-->
    <script src="~/js/min/jquery-v1.10.2.min.js" type="text/javascript"></script>

    @*
      <script src="js/min/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
    <script src="js/min/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>

    <!--Include flickerplate-->
	<link href="css/flickerplate.css"  type="text/css" rel="stylesheet">
    <script src="js/min/flickerplate.min.js" type="text/javascript"></script>
	
	<!--Execute flickerplate-->
	<script>
	$(document).ready(function(){
	    $('.slideshow_content').flicker();
	});
	</script>*@
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../dist/css/formValidation.css" />
    <link rel="stylesheet" href="~/CSSfiles/StyleClass.css" />
    @*   <link rel="stylesheet" href="~/css/styles_2.css" />*@
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>
    @* <script type="text/javascript" src="../vendor/bootstrap/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="../dist/js/formValidation.js"></script>
   <script type="text/javascript" src="../dist/js/framework/bootstrap.js"></script>
    *@
    <script type="text/javascript" src="../js/CustomValidation.js"></script>



    <style type="text/css">
        #header .main-menu li a:hover {
            color: #fe8c00;
        }

        .latterspace1 {
            letter-spacing: 1px;
        }

        .latterspace {
            letter-spacing: 0.5px;
        }

        .latterspace2 {
            letter-spacing: 2px;
        }

        #header .main-menu li a:hover {
            color: #fe8c00;
        }

        .active {
            color: #ff3d08!important;
        }
    </style>
    @*<script>
        $(document).ready(function () {
            debugger;
            $('#header .main-menu li a').removeClass('active')

            var str = document.cookie;
                $("#"+str).css({
                    "color": "#ff3d08"

            });
        });
</script>*@
    <script type="text/javascript">
        function getid(obj) {
            debugger;
            @* @{HttpContext.Current.Session["id"]=}obj;*@
            document.cookie = obj;
            $("#hdd").val(obj);
            $(document).load(function () {
                $('#header .main-menu li a').removeClass('active')

                $("#" + obj).css({
                    "color": "#ff3d08"

                });
            });
        }
    </script>

</head>

<body>
    <!--Header Code Start-->
    <header id="header">
        <div class="header-wrap" style="width: 1180px;">
            <span class="fleft logo"><a href="#">
                <img src="../Images/logo.png" alt="CHACUN SA BULLE" /></a></span>

<!--Main menu for Mobile sites-->
	<div id="sections_btn_holder">
		<a href="#" onclick="toggleNavPanel('sections_panel')" class="mobile_menu"></a>
	</div>

 <!--Main menu for Desktop system-->
    <div class="main-menu" id="sections_panel">
                <nav>
                    <ul style="position: absolute; top: 50px; right: 169px; color: #C5D8E1;">
                        @{
                            if (Session.Count > 0 && Session["FirstName"] != null)
                            {
                            <li>@String.Format("{0}", "Welcome : " + System.Web.HttpContext.Current.Session["FirstName"])</li>
                            }
                        }
                    </ul>
                    <ul id="sidebar">
                        <li><a id="M1" onclick="getid('1');" class="home_icon" href="http://www.chacunsabulle.com/"></a></li>
                        <li><a id="M2" onclick="getid('2');" href="~/index/Sabboner">S’abonner</a></li>
                        <li><a id="M3" onclick="getid('3');" href="~/index/LessOfferSabboner">Offrir</a></li>
                        <li><a id="M4" onclick="getid('4');" href="~/index/COMMENTCAMARCHE">Comment ça marche ?</a></li>
                        <li><a id="M5" onclick="getid('5');" href="#">Blog</a></li>
                        <li><a id="M6" onclick="getid('6');" class="user_icon" href="~/index/LoginPage" @*onclick="$('#SectionLogin').show(); return false;"*@>Connexion</a></li>
                        @*<li><a href="#">@String.Format("{0}","Welcome:"+System.Web.HttpContext.Current.Session["FirstName"])</a></li>*@
                        @{
                            if (Session.Count > 0 && Session["FirstName"] != null)
                            {
                            <li>@Html.ActionLink("SignOut", "signout", "Index")</li>
                            <li>@Html.ActionLink("OrderStatus", "OrderStatus", "Index")</li>
@*<li>@String.Format("{0}","Welcome:"+System.Web.HttpContext.Current.Session["FirstName"])</li>*@
                            }
                        }
                    </ul>
                </nav>
                <input type="hidden" id="hdd" name="hdd" value="" />
            </div>
            <style type="text/css">
                #header .main-menu li a {
                    font-size: 14px;
                }

                #link a {
                    color: brown;
                    position: absolute;
                    top: 151px;
                    right: 241px;
                    font-size: 16pt;
                }

                #link1 a {
                    color: brown;
                    position: absolute;
                    top: 151px;
                    left: 253px;
                    font-size: 16pt;
                }
            </style>
            <script type="text/javascript">
                function Login() {
                    debugger;
                    if ($("#divuid").val().length < 3 || $("#divpwd").val().length < 1) {
                        if ($("#divuid").val().length < 3) {
                            $("#divuid").addClass("error");

                        }
                        if ($("#divpwd").val().length < 1) {
                            $("#divpwd").addClass("error");

                        }
                        return false;
                    }
                    else {
                        var userid = $('#divuid').val();
                        var pwd = $('#divpwd').val();
                        //alert(uid + pwd);
                        $.ajax({
                            type: "post",
                            url: "/Index/Login",
                            data: ({ "uid": userid, "pwd": pwd }),
                            success: (function (data) {
                                if (data != "False") {
                                    window.location.href = data.Url;
                                    //alert(data.Url);
                                }
                                else {
                                    document.getElementById('msg').innerHTML = "Invalid User_ID or Password...!";
                                    //alert("You can't Login");
                                    $("#Loguid").val = '';
                                    $("#Logpwd").val = '';
                                }
                            }),
                            fail: (function (data) {

                            })
                        });
                    }
                }
            </script>
            <script type="text/javascript">
                function clear() {
                    //alet("rrr");
                    $("#msg").val('');
                }
            </script>
            
            @*<div id="SectionLogin" style="display:none; position:absolute;right:100px;top:70px; z-index:100; background-color:red;" >*@
            <!--About Us Page Code Start-->

            @*<div class="content-wrapd" id="identification_detail_1" style="height:200px;width:400px;">*@
            @*<div id="slideshows" class="top_header" style="height:100px;width:400px;">*@
            @*<a href="#" onclick="$('#SectionLogin').hide(); return false;" style="float:right;font-size:18px;color:black;">X</a>*@
            @*<div class="top_header_wrap">
                    <h2><center>Login Here</center></h2>
                </div>*@
            @*</div>*@

            <!--Nakache Block-->
            @* <div id="nakache" class="payment_block" style="height:220px;width:400px;background-color:black;margin-top: 20px!important;">
                <label id="msg" style="color:red;width:200px;"></label>
                <table>
                <tr>
                <td width="100px"><label>UserID</label></td>
                <td width="200px"> <input type="text" id="divuid" onblur="$('#msg').val('');" maxlength="100" style="width:200px;"/> 
                    </td>
                </tr>
                <tr>
                <td width="200px"><label>Password</label></td>
                <td width="200px"> <input type="password" id="divpwd" maxlength="100" size="100" style="width:200px;"/>  </td>
                </tr>
                    <tr><td colspan="2" align="center">
                        <span id="link">@Html.ActionLink("Signup", "/RagistrationPage", "Index")</span>
                        <span id="link1"><a href="#" onclick="return Login();">Login</a> </span>
                        </td></tr>
                </table>
                
            </div>*@

            <!--Votre Block-->
            @*</div>
        @*<div id="btn" class="button orange_btn" style="background-image: url(../Images/orange_btn.png);background-repeat: no-repeat;background-size: 20% auto;height: 40px;background-position: center;"><input type="submit" value="SignIN" /></div>
        <div id="btn" class="button orange_btn" style="background-image: url(../Images/orange_btn.png);background-repeat: no-repeat;background-size: 20% auto;height: 40px;background-position: center;"><input type="submit" value="SignUP" /></div>*@

            <!--About Us Page Code End-->
            @*</div>*@

        </div>
    </header>
    <!--Header Code End-->

    <!--About Us Page Code Start-->
    @RenderBody()


    <!--About Us Page Code End-->

    <!--Footer Code Start-->
    <footer id="footer">
        <div class="footer-wrap">
            <div class="footerlinks">
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head"><a href="~/Index/COMMENTCAMARCHE">COMMENT CA MARCHE ?</a></li>
                        <li><a target="" href="~/Index/COMMENTCAMARCHE">Découvrez chaque mois<br />notre sélection de 2 BD livrées chez vous,<br />plus de nombreuses surprises.</a></li>
                        @*<li><a target="" href="~/Index/COMMENTCAMARCHE">notre sélection de 2 BD livrées chez vous,</a></li>
                        <li><a target="" href="#">plus de nombreuses surprises.</a></li>*@
                    </ul>
                </div>
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">NOS OFFRES</li>
                        <li><a target="" href="~/Index/Sabboner">S’abonner</a></li>
                        <li><a target="" href="~/Index/LessOfferSabboner">Offrir</a></li>
                        <li><a target="" href="~/Index/Vouchar_Activation">j’ai reçu un cadeau</a></li>
                    </ul>
                </div>
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">BESOIN D’AIDE</li>
                        @*<li><a class="phone_icon" target="" href="#">01 42 38 24 62</a></li>*@
                        <li><a class="mail_icon" target="" href="#">mayday@chacunsabulle.com</a></li>
                        <li><a class="document_icon" id="pdf" onclick=" $('#popuppdf').show();  return false;" target="" href="#">légales</a></li>
                    </ul>
                </div>
                
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">SUIVEZ-NOUS</li>
                        <li class="social_share_icons">
                            <a class="twitter_icon" onClick="window.open('https://www.facebook.com/chacunsabulle/?fref=ts', '_blank')" id="popup" target="" href="#" target="_blank"></a>
                        </li>
                        <li class="social_share_icons">
                            <a class="instagram_icon" onClick="window.open('https://www.facebook.com/chacunsabulle/?fref=ts', '_blank')" id="popup1" target="" href="#" target="_blank"></a>
                        </li>
                        <li class="social_share_icons">
                            <a class="facebook_icon" onClick="window.open('https://www.facebook.com/chacunsabulle/?fref=ts', '_blank')" id="popup2" target="" href="#" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div style="width:100%; display:none;margin-left: 200px;margin-top: -20px;" align="center" id="popuppdf">
                                
                                <div style="position: fixed;left: 50%;top: 50%;transform: translate(-50%, -50%); height: 600px; width: 800px; z-index: 1000; background-color: #586778;border:solid;">
                                    <a href="#" onclick=" $('#popuppdf').hide();  return false;"><span style="float: right; color: white; font-weight: normal; font-size: larger; margin-right: 5px;">X</span></a>
                                    <div style="background-color: white; height: 560px; margin: 20px;">
                                        <object data=@Url.Content("~/param/MentionsLégales.pdf") type="application/pdf" width="760" height="560">
                                        alt : <a href=@Url.Content("~/param/MentionsLégales.pdf")>test.pdf</a>
                                        </object>
                                       @* <p>@obj.PopupBody </p>*@
                                       @* <object data=@Url.Content(String.Format("~/Uploads/{0}",obj.PopupBody)) type="application/pdf" width="760" height="460">
                                            alt : <a href=@Url.Content(String.Format("~/Uploads/{0}",obj.PopupBody))>test.pdf</a>
                                        </object>*@
                                    </div>
                                </div>
                            </div>
    <!--Footer Code End-->
    @*<script>
        function popup(obj) {
                debugger;
                return !window.open(this.href, obj , "width=100%,height=100%");
        }
            </script>*@
</body>
</html>

