@model Commic.Models.Commic
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{ 
    @*<input type="hidden" value="@HttpContext.Current.Session["id"].ToString();" name="hdd" />*@
    <div id="SectionLogin">
        <!--About Us Page Code Start-->
<section id="content">
    <div class="content-wrap" id="identification_detail_3">
        <div class="banner_block">
            <div id="voir" class="banner2" style="padding-left :150px;">
            	<h4 style="font-size: 33px; font-weight: normal; line-height: 40px; margin: 0 auto; padding: 7px 0; width: 120%;margin-left:-123px;letter-spacing: 2px;">Identifiez vous ou .....bah inscrivez vous 
(et commencer à buller....mais vraiment!)  
</h4>
            </div>
        </div>
        <!--Nakache Block-->
        <div id="nakache" class="payment_block payment_block_2" style="height:300px;">
            <center><label id="Logmsg" style="color: red; width: 200px;">@ViewBag.Message</label>
            <table>
                <tr>
                    <td width="100px">
                        <label style="color:black;font-size:24px;width:250px">Nom d'utilisateur <font color="red" size="4"><b>*</b></font></label></td>
                    <td width="200px">@Html.TextBoxFor(M => M.objLoginMaster.UserID, new { @class="txt", name = "uid", @onblur = "RemoveClass(this);", @style = "width:180px;background-color: #fff;border: 0 none;box-shadow: 3px 2px 2px #a7a9ac;height: 50px;width: 285px;margin: 12px 0 30px;padding: 3px;font-weight: bold;" })
                    </td>
                </tr>
                <tr>
                    <td width="200px">
                        <label  style="color:black;font-size:24px;width:250px;">Mot de passe<font color="red" size="4"><b>*</b></font></label></td>
                    <td width="200px">@Html.TextBoxFor(M => M.objLoginMaster.Password, new { name = "pwd", @type = "password", @onblur = "RemoveClass(this);", @style = "width:180px;background-color: #fff;border: 0 none;box-shadow: 3px 2px 2px #a7a9ac;height: 50px;width: 285px;margin: 12px 0 30px;padding: 3px;font-weight: bold;" })  </td>
                </tr>
            </table></center>
        </div>
        
        <!--Votre Block-->
        <div id="votre" class="bottom_block">
        	<div class="votre_wrap txt_center" >
                <label href="#" style="color:white;position:absolute;top:-50px;left:375px;font-size:16pt;"><input type="checkbox" id="chkremember" style="color:white;position:absolute;top:9px;left:-19px;font-size:16pt;width:15px;height:15px;"/>Se souvenir de moi</label> <sapn id="link">@Html.ActionLink("Mot de passe oublié", "/ForgotPassword", "Index")</sapn>
               <div class="button"><input type="submit" value="S'inscrire" onclick="return Login();"/></div>
                <sapn id="link1">@Html.ActionLink("Pas encore inscrit?", "/Reg_Page", "Index")</sapn> <a href="#" style="color:white;position:absolute;top:50px;right:480px;font-size:16pt;"><u>signer</u> </a>
          </div>
        </div>
    </div>
</section>
<!--About Us Page Code End-->
       <input id="chkrem" type="hidden" value="" name="chkrem">
    </div>
}
<script type="text/javascript">
    function Login() {
        debugger;
        if (document.getElementById('chkremember').checked) {
            $('#chkrem').val(1);
        }
        if ($("#objLoginMaster_UserID").val().length < 3 || $("#objLoginMaster_Password").val().length < 1) {
            if ($("#objLoginMaster_UserID").val().length < 3) {
                $("#objLoginMaster_UserID").addClass("error");

            }
            if ($("#objLoginMaster_Password").val().length < 1) {
                $("#objLoginMaster_Password").addClass("error");

            }
            return false;
        }
        else {
            return true;
        }
    }
</script>
<style type ="text/css" >
    #link a {
        color:white;position:absolute;top:-50px;right:375px;font-size:16pt;
    }
    #link1 a {
        color:white;position:absolute;top:50px;left:430px;font-size:16pt;
    }
</style>
