@model Commic.Models.Commic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- it works the same with all jquery version from 1.x to 2.x -->
<script type="text/javascript" src="~/js/jquery-1.9.1.min.js"></script>
<!-- use jssor.slider.mini.js (40KB) instead for release -->
<!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
<script type="text/javascript" src="~/js/jssor.js"></script>
<script type="text/javascript" src="~/js/jssor.slider.js"></script>
<script>
    //jquery(document).ready(function ($) {
    //    $(".jssorb05")
    //    {
    //         position: absolute;
    //    }

    //    $(".jssorb05").div
    //    {
    //        position: absolute;
    //        width: 16;
    //        height: 16;
    //        background: url(img/b05.png);
    //        overflow: hidden;
    //        cursor: pointer;
    //    }
    //    $(".jssorb05").div.hover
    //    {
    //        position: absolute;
    //        width: 16;
    //        height: 16;
    //        background: url(img/b05.png); 
    //        overflow: hidden;
    //        cursor: pointer;
    //    }
    //    $(".jssorb05").av
    //    {
    //        position: absolute;
    //        width: 16;
    //        height: 16;
    //        background: url(img/b05.png); 
    //        overflow: hidden;
    //        cursor: pointer;
    //    }

    //    $(".jssorb05").div
    //    {
    //        background-position -7 -7;
    //    }

    //    $(".jssorb05").div.hove
            
    //    $(".jssorb05").av.hover
    //    {
    //        background-position -37 -7;
    //    }

    //    $(".jssorb05").av
    //    {
    //        background-position -67 -7;
    //    }

    //    $(".jssorb05").dn
    //    {
    //        background-position -97 -7;
    //    }
    //    $(".jssorb05").dn.hover
    //    {
    //        background-position -97 -7;
    //    }
            @*<div u="prototype"></div>
        </div>
        <!--#endregion Bullet Navigator Skin End -->

        <!--#region Arrow Navigator Skin Begin -->
        <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
            <style>
        /* jssor slider arrow navigator skin 12 css */
        /*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
                .jssora12l, .jssora12r
        {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 30px;
            height: 46px;
            cursor: pointer;
            background: url(img/a12.png) no-repeat;
            overflow: hidden;
        }

        .jssora12l
        {
            background-position: -16px -37px;
        }

        .jssora12r
        {
            background-position: -75px -37px;
        }

        .jssora12l:hover
        {
            background-position: -136px -37px;
        }

        .jssora12r:hover
        {
            background-position: -195px -37px;
        }

        .jssora12l.jssora12ldn
        {
            background-position: -256px -37px;
        }

        .jssora12r.jssora12rdn
        {
            background-position: -315px -37px;
        }
        </style>
    

        <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>*@

    //});
    
    jQuery(document).ready(function ($) {

        var _SlideshowTransitions = [
        //Fade
        { $Duration: 1200, $Opacity: 2 }
        ];

        var options = {
            $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
            $AutoPlayInterval: 3000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

            $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
            $SlideDuration: 5,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $MinDragOffsetToSlide: 2,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
            //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
            //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
            $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

            $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
            },

            $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            },

            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
            }
        };
        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {
            var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
            if (parentWidth)
                jssor_slider1.$ScaleWidth(Math.min(parentWidth, 1180));
            else
                window.setTimeout(ScaleSlider, 30);
        }
        ScaleSlider();

        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
    });
</script>
<style>

    .latterspace1 {letter-spacing:2px;}
</style>
<!--About Us Page Code Start-->
<section id="content">
    <div class="content-wrap">
        <div id="slideshow">
            <div class="slideshow_wrap">



                <!-- To move inline styles to css file/block, please specify a class name for each element. -->
                <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 1180px; height: 425px; overflow: hidden;">
 
                    <!-- Loading Screen -->
                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;">
                        </div>
                        <div style="position: absolute; display: block; background: url(img/loading.gif) no-repeat center center; top: 0px; left: 0px; width: 100%; height: 100%;">
                        </div>
                    </div>
                  
                    <!-- Slides Container -->
                    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1180px; height: 425px; overflow: hidden;">
                        <!--<div>
                <img u="image" src="img/landscape/02.jpg" />
				 <div style="position: absolute; top: 125px; left: 125px; width: 350px; height: 50px;text-align:center;line-height:50px;background:#fff;">
                            This is static content, can be any html
                </div>
            </div>-->
                          @foreach (Commic.Models.SlideShowSection obj in Model.objSlideListM)
                          {
                              if (obj.id == 1)
                              {
                            <div>

                                <div class="slideshow_image">
                                    <img src="../Images/slideshow_image.png" alt="slideshow image" /></div>
                               @* <img src="@Html.Raw(obj.MainImageUrl)" alt="slideshow image" /></div>*@
                                <div class="slideshow_content_wrap txt_center">
                                    <div class="slideshow_content">
                                        <h2 class="latterspace1" style="width:350px">@Html.Raw(obj.Heading1)</h2>
                                        <p>@Html.Raw(obj.DescLine1)</p>
                                        <strong>@Html.Raw(obj.DescLine2)</strong>
                                        <p>@Html.Raw(obj.DescLine3)</p>
                                        @*<span>@Html.Raw(obj.DescLine4)</span>*@
                                        <div class="slideshow_buttons">
                                        <div class="button letterspace1" id="slideShowButton"><a href="~/Index/Sabboner">@Html.Raw(obj.Btn1Caption)</a></div>
                                        <div class="button letterspace1"><a href="~/Index/LessOfferSabboner">@Html.Raw(obj.BTn2Caption)</a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                              }
                              else if (obj.id == 2)
                              {
                            <div>

                                <div class="slideshow_image">
                                    <img src="../Images/banner.png" alt="slideshow image" /></div>
                               @* <img src="@Html.Raw(obj.MainImageUrl)" alt="slideshow image" /></div>*@
                                <div class="slideshow_content_wrap txt_center">
                                    <div class="slideshow_content">
                                        <h2 class="latterspace1" style="width:350px">@Html.Raw(obj.Heading1)</h2>
                                        <p>@Html.Raw(obj.DescLine1)</p>
                                        <strong>@Html.Raw(obj.DescLine2)</strong>
                                        <p>@Html.Raw(obj.DescLine3)</p>
                                        @*<span>@Html.Raw(obj.DescLine4)</span>*@
                                        <div class="slideshow_buttons">
                                        <div class="button" id="slideShowButton"><a href="~/Index/Sabboner">@Html.Raw(obj.Btn1Caption)</a></div>
                                        <div class="button"><a href="~/Index/LessOfferSabboner">@Html.Raw(obj.BTn2Caption)</a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                              }
                          }
                        @* <div>
                <div class="slideshow_image"><img src="Images/slideshow_image.png" alt="slideshow image" /></div> 
                <div class="slideshow_content_wrap txt_center">
                    <div class="slideshow_content">
                        <h2>This is text data 1 <br />chaque mois</h2>
                        <p>en bénéficiant des conseils et coups de coeur de notre expert</p>
                        <strong>Jean-Pierre Nakache</strong>
                        <p>mais aussi de ceux de tous les libraires CanalBD</p>
                        <span>(au travers de la sélection du Prix des Libraires de Bande Dessinée)</span>
                        <div class="slideshow_buttons">
                            <div class="button"><input type="submit" value="commencer à buller"></div>
                            <div class="button"><input type="submit" value="faites buller vos proches"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="slideshow_image"><img src="Images/slideshow_image.png" alt="slideshow image" /></div> 
                <div class="slideshow_content_wrap txt_center">
                    <div class="slideshow_content">
                        <h2>This sdgkghsd g dxgkjhds sdgksjd <br />chaque mois</h2>
                        <p>en bénéficiant des conseils et coups de coeur de notre expert</p>
                        <strong>Jean-Pierre Nakache</strong>
                        <p>mais aussi de ceux de tous les libraires CanalBD</p>
                        <span>(au travers de la sélection du Prix des Libraires de Bande Dessinée)</span>
                        <div class="slideshow_buttons">
                            <div class="button"><input type="submit" value="commencer à buller"></div>
                            <div class="button"><input type="submit" value="faites buller vos proches"></div>
                        </div>
                    </div>
                </div>
            </div>*@
                    </div>
                   
                    <!--#region Bullet Navigator Skin Begin -->
                    <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
                    <style>
                        /* jssor slider bullet navigator skin 05 css */
                        /*
            .jssorb05 div           (normal)
            .jssorb05 div:hover     (normal mouseover)
            .jssorb05 .av           (active)
            .jssorb05 .av:hover     (active mouseover)
            .jssorb05 .dn           (mousedown)
            */
                        .jssorb05
                        {
                            position: absolute;
                        }

                            .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av
                            {
                                position: absolute;
                                /* size of bullet elment */
                                width: 16px;
                                height: 16px;
                                background: url(img/b05.png) no-repeat;
                                overflow: hidden;
                                cursor: pointer;
                            }

                            .jssorb05 div
                            {
                                background-position: -7px -7px;
                            }

                                .jssorb05 div:hover, .jssorb05 .av:hover
                                {
                                    background-position: -37px -7px;
                                }

                            .jssorb05 .av
                            {
                                background-position: -67px -7px;
                            }

                            .jssorb05 .dn, .jssorb05 .dn:hover
                            {
                                background-position: -97px -7px;
                            }
                    </style>
                    <!-- bullet navigator container -->
                    <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                        <!-- bullet navigator item prototype -->
                        <div u="prototype"></div>
                    </div>
                    <!--#endregion Bullet Navigator Skin End -->

                    <!--#region Arrow Navigator Skin Begin -->
                    <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
                    <style>
                        /* jssor slider arrow navigator skin 12 css */
                        /*
            .jssora12l                  (normal)
            .jssora12r                  (normal)
            .jssora12l:hover            (normal mouseover)
            .jssora12r:hover            (normal mouseover)
            .jssora12l.jssora12ldn      (mousedown)
            .jssora12r.jssora12rdn      (mousedown)
            */
                        .jssora12l, .jssora12r
                        {
                            display: block;
                            position: absolute;
                            /* size of arrow element */
                            width: 30px;
                            height: 46px;
                            cursor: pointer;
                            background: url(img/a12.png) no-repeat;
                            overflow: hidden;
                        }

                        .jssora12l
                        {
                            background-position: -16px -37px;
                        }

                        .jssora12r
                        {
                            background-position: -75px -37px;
                        }

                        .jssora12l:hover
                        {
                            background-position: -136px -37px;
                        }

                        .jssora12r:hover
                        {
                            background-position: -195px -37px;
                        }

                        .jssora12l.jssora12ldn
                        {
                            background-position: -256px -37px;
                        }

                        .jssora12r.jssora12rdn
                        {
                            background-position: -315px -37px;
                        }
                    </style>

                    <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
                </div>
                <!-- Jssor Slider End -->



            </div>
        </div>
        <div class="nakache_wrap">
        	<div id="uneequipe">
            	<div class="uneequipe_wrap">
                	<h2 class="txt_center">@Html.Raw(Model.objMasterpage.Sec2Heading1)</h2>
                </div>
            </div>
            <div id="voir">
            	<div class="voir_wrap">
                	<p>@Html.Raw(Model.objMasterpage.Sec2Def)</p> <br>
<p><strong>@Html.Raw(Model.objMasterpage.Sec2Discription)</strong></p><br>
                    <div class="button"><a href="" onclick="getdown(); return false;">@Html.Raw(Model.objMasterpage.Sec2BtnCaption)</a></div>
                </div>
            </div>
        </div>
        <!--Nakache Block-->
        <div id="nakache">
            <div class="nakache_wrap">
            	<div class="nakache_blocks">
       				<div class="bleonore">
                    	<div class="bleonore_ribn"></div>
                        <div class="txt_center">
                        	<h4>@Html.Raw(Model.objMasterpage.Sec3Head1)</h4>
                            <p>@Html.Raw(Model.objMasterpage.Sec3Desc1)</p>
                        </div>
                    </div>
                    <div class="jean_perre">
                    	<div class="jean_perre_ribn"></div>
                        <div class="txt_center">
                        	<h4>@Html.Raw(Model.objMasterpage.Sec3Head2)</h4>
                            <p>@Html.Raw(Model.objMasterpage.Sec3Desc2)</p>
                        </div>
                    </div>
                    <div class="vincent">
                    	<div class="vincent_ribn"></div>
                        <div class="txt_center">
                        	<h4 style="margin-right:-56px;">@Html.Raw(Model.objMasterpage.Sec3Head3)</h4>
                            <div style="margin-right:-42px;">@Html.Raw(Model.objMasterpage.Sec3Desc3)</div>
                        </div>
                    </div>
                </div>
                <div class="nakache_footer"></div>
            </div>
        </div>
        <!--Votre Block-->
        <div id="votre">
        	<div class="votre_wrap">
                <h2 class="txt_center">@Html.Raw(Model.objMasterpage.Sec4Head)</h2>
                <div class="txt_center votre_desc">
                    <p><strong>@Html.Raw(Model.objMasterpage.Sec4Desc)</strong></p>
                    <p>@Html.Raw(Model.objMasterpage.Sec4Para)</p>
                </div>
                <div class="txt_center">
                    @foreach (Commic.Models.MasterPageSec4BTN obj in Model.objMasterPageSec4BTNListM)
                    {
                        if (obj.id == 1)
                        {
                            @*<a href="~/Index/PertABuller?id=1" style="text-decoration: none">*@
                        <div class="votre_block">
                    	<div>
                            <div class="votre_image txt_center"></div>
                            <h3>@Html.Raw(obj.SubsHeading)</h3>
                            <div class="votre_price"><span class="txt_blue price">@Html.Raw(obj.SubsPrice).ToString().Replace(".", ",")&euro;</span> @Html.Raw(obj.SubsUnit)</div>
                            <div>
                                <p class="txt_blue"><strong>@Html.Raw(obj.SubssubHeading)</strong></p>
                                <p class="votre_block_desc">@Html.Raw(obj.SubsDescription)</p>
                            </div>
                            <div class="button blue_btn" ><a style="line-height: 30px" href="~/Index/PertABuller?id=1">@Html.Raw(obj.SubsbtnCaption)</a></div>
                            <div class="votre_footer">@Html.Raw(obj.SubsFooter)</div>
                        </div>
                    </div>@*</a>*@
                        }
                        else if (obj.id == 2)
                        { 
                            @*<a href="~/Index/FormuleBSMCommon?id=2" style="text-decoration: none">*@
                        <div class="votre_block">
                    	<div>
                            <div class="votre_image bulle_image txt_center"></div>
                            <h3>@Html.Raw(obj.SubsHeading)</h3>
                            <div class="votre_price">@Html.Raw(obj.SubsUnit) <span class="txt_green price">@Html.Raw(obj.SubsPrice).ToString().Replace(".", ",")&euro;</span></div>
                            <div>
                                <p class="txt_green"><strong>@Html.Raw(obj.SubssubHeading)</strong></p>
                                <p class="votre_block_desc">@Html.Raw(obj.SubsDescription)</p>
                            </div>
                            <div class="button green_btn"><a style="line-height: 30px" href="~/Index/FormuleBSMCommon?id=2">@Html.Raw(obj.SubsbtnCaption)</a></div>
                            <div class="votre_footer">@Html.Raw(obj.SubsFooter)</div>
                        </div>
                    </div>@*</a>*@
                        }
                        else if (obj.id == 3)
                        { 
                            @*<a href="~/Index/FormuleMBCommon?id=3" style="text-decoration: none">*@
                        <div class="votre_block">
                    	<div>
                            <div class="votre_image mini_image txt_center"></div>
                            <h3>@Html.Raw(obj.SubsHeading)</h3>
                            <div class="votre_price">@Html.Raw(obj.SubsUnit) <span class="txt_orange price">@Html.Raw(obj.SubsPrice).ToString().Replace(".", ",")&euro;</span></div>
                            <div>
                                <p class="txt_orange"><strong>@Html.Raw(obj.SubssubHeading)</strong></p>
                                <p class="votre_block_desc">@Html.Raw(obj.SubsDescription)</p>
                            </div>
                            <div class="button orange_btn"><a style="line-height: 30px" href="~/Index/FormuleMBCommon?id=3">@Html.Raw(obj.SubsbtnCaption)</a></div>
                            <div class="votre_footer">@Html.Raw(obj.SubsFooter)</div>
                        </div>
                    </div>@*</a>*@
                        }
                        else if (obj.id == 4)
                        { 
                            @*<a href="~/Index/FormuleMiniNMaxi?id=4" style="text-decoration: none">*@
                        <div class="votre_block">
                    	<div>
                            <div class="votre_image minimax_image txt_center"></div>
                            <h3>@Html.Raw(obj.SubsHeading)</h3>
                            <div class="votre_price">@Html.Raw(obj.SubsUnit) <span class="txt_pink price">@Html.Raw(obj.SubsPrice).ToString().Replace(".", ",")&euro;</span></div>
                            <div>
                                <p class="txt_pink"><strong>@Html.Raw(obj.SubssubHeading)</strong></p>
                                <p class="votre_block_desc">@Html.Raw(obj.SubsDescription)</p>
                            </div>
                            <div class="button pink_btn"><a style="line-height: 30px" href="~/Index/FormuleMiniNMaxi?id=4">@Html.Raw(obj.SubsbtnCaption)</a></div>
                            <div class="votre_footer">@Html.Raw(obj.SubsFooter)</div>
                        </div>
                    </div>@*</a>*@
                        }
                    }
                   @* <div class="votre_block">
                    	<div>
                            <div class="votre_image bulle_image txt_center"></div>
                            <h3>bulle sur mesure</h3>
                            <div class="votre_price">à partir de <span class="txt_green">17,90&euro;</span></div>
                            <div>
                            <p class="txt_green"><strong>Vous savez ce que vous rechercher</strong></p>
                            <p class="votre_block_desc">Optez pour un choix de 2 BD qui sauront répondre à vos envies grâce aux conseils de notre équipe.</p>
                            </div>
                            <div class="button green_btn"><a href="~/Index/FormuleBSMCommon?id=2">je m’abonne</a></div>
                            <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                        </div>
                    </div>
                    <div class="votre_block">
                    	<div>
                            <div class="votre_image mini_image txt_center"></div>
                            <h3>mini<br>bulle</h3>
                            <div class="votre_price">à partir de <span class="txt_orange">17,90&euro;</span></div>
                            <div>
                            <p class="txt_orange"><strong>Pour stimuler l’imagination</strong></p>
                            <p class="votre_block_desc">Offrez chaque mois 2 BD enfant sélectionnées par notre équipe.</p>
                            </div>
                            <div class="button orange_btn"><a href="~/Index/FormuleMBCommon?id=3">je m’abonne</a></div>
                            <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                        </div>
                    </div>
                    <div class="votre_block">
                    	<div>
                            <div class="votre_image minimax_image txt_center"></div>
                            <h3>mini & maxi bulle</h3>
                            <div class="votre_price">à partir de <span class="txt_pink">17,90&euro;</span></div>
                            <div>
                            <p class="txt_pink"><strong>Vous voulez tout partager avec vos enfants</strong></p>
                            <p class="votre_block_desc">Recevez chaque mois une BD sélectionnée pour vous et une pour votre  enfant.</p>
                            </div>
                            <div class="button pink_btn"><a href="~/Index/FormuleMiniNMaxi?id=4">je m’abonne</a></div>
                            <div class="votre_footer">Sans engagement - Paiement sécurisé Frais de port de 0 à 4€</div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function getdown()
    {
        window.scrollBy(0, 10000);
    }
</script>
@*<script>
    window.scrollBy(0, 10000);
</script>*@
@*<script>
    function scrollWin(x, y) {
        window.scrollBy(x, y);
    }
</script>*@
<!--About Us Page Code End-->
