@model Commic.Models.Commic

@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>CHACUN SA BULLE</title>
    <link type="text/css" href="~/CSSfiles/stylessec.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
     <style type="text/css">
      .input_text {
	background:#FFF;
	width:150px;
	height:22px;
	line-height:22px;
	padding:4px;
	border:1px solid #999;
}

.input_text_encima {
	width:148px;
	height:20px;
	line-height:20px;
	border:2px solid #00CC00;
	color:#009900;
}

.input_text_dentro {
	width:148px;
	height:20px;
	line-height:20px;
	border:2px solid #00CC00;
	color:#000000;
	background:#e3e3e3;
}

.error {
	
    
     border: solid!important;
            border-color: red!important;
    
    
    
}

    </style>
    <script>
        //$(".input_text").mouseenter(function () {
        //    $(this).addClass("input_text_encima");
        //});
        //$(".input_text").mouseleave(function () {
        //    $(this).removeClass("input_text_encima");
        //});
        //$(".input_text").focus(function () {
        //    $(this).addClass("input_text_dentro");
        //});
        //$(".input_text").blur(function () {
        //    $(this).removeClass("input_text_dentro");
        //});

        function Validate() {
            alert($("#txtRecap").val());
            $("#txtRecap").addClass("error");
            // document.getElementById("txtRecap").className = "error";
            //document.getElementById("txtRecap").style.borderColor = 'red!important';
            //document.getElementById("txtRecap").style.border = 'solid';
            return false;
        }

        //$("#defaultForm").submit(function () {
        //    if ($("#LastName").val().length < 5) {
        //        $("#LastName").addClass("input_text_error");
        //        return false;
        //    }
        //    if ($("#LastName").val().length < 9) {
        //        $("#LastName").addClass("input_text_error");
        //        return false;
        //    }
        //    return false;
        //});
    </script>

    @*<script>
    function a()
    {
        alert("Hello");
        var n = document.getElementById("FirstName").value;
        if (n.length < 1)
        {
            alert("can not be Blank");
            document.getElementById("FirstName").className = 'error';
            return false;
        }
    }
        </script>*@
    @*<script>
        function a()
        {
            if ($('#FirstName').val() == '') {
                $('#FirstName').css('border-color', 'red');
            }
            else {
                $('#FirstName').css('border-color', '');
            }
        }

    </script>*@
</head>

<body>
    <!--Header Code Start-->
    <header id="header">
        <div class="header-wrap">
            <span class="fleft logo"><a href="#">
                <img src="../Images/logo.png" alt="CHACUN SA BULLE" /></a></span>
            <div class="main-menu">
                <nav>
                    <ul>
                        <li><a class="home_icon" href="#"></a></li>
                        <li><a href="#">S’abonner</a></li>
                        <li><a href="#">Offrir</a></li>
                        <li><a href="#">Comment ça marche ?</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a class="user_icon" href="#">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Header Code End-->
    @using (Html.BeginForm("MailingAndBillingAddress_1", "Index", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "defaultForm" }))
    { 
        <!--About Us Page Code Start-->
        <section id="content">
            <div class="content-wrap" id="identification_detail_2">
                <div id="slideshow" class="top_header">
                    <div class="top_header_wrap">
                        <h2 class="fleft" style="width:600px;">5 PRECISION SUR SES GOÛTS	</h2>
                        <p class="fright"><img src="../Images/back_white_button.png" style="margin-top:-14px;" width='120' height='100' onmouseover="src='../Images/back_black_button.png';" onmouseout="src='../Images/back_white_button.png';" /></p>
                    </div>
                </div>
                <div class="banner_block">
                    <div id="uneequipe" class="banner1">
                        <div class="uneequipe_wrap">
                            <h2 class="txt_center">ENVOYER  L'ABONNEMENT</h2>
                        </div>
                    </div>
                    <div id="voir" class="banner2">
                        <div class="voir_wrap">
                            Renseignez l’adresse à laquelle vous souhaitez
recevoir vos  BD chaque mois
                        </div>
                    </div>
                </div>
                <!--Nakache Block-->
                <div id="nakache" class="payment_block">
                    <div class="fleft">
                        <div>
                            <label>Prénom</label>
                            @Html.TextBoxFor(M => M.objIdenDetail.FirstName, new { @id = "txtRecap" })
                            <input type="text" id="txtRecap" />

                        </div>
                        <div>
                            <label>Nom</label>
                            @Html.TextBoxFor(M => M.objIdenDetail.LastName, new { @id = "FirstName" })
                        </div>
                        <div>
                            <label>Société  Facultatif</label><label></label>
                            @Html.TextBoxFor(M => M.objIdenDetail.OptionalSociety, new { @id = "Security" })
                        </div>

                    </div>

                    <div class="fleft">
                        <div class="border fleft"></div>
                        <div>
                            <label>Adresse</label>
                            @Html.TextBoxFor(M => M.objIdenDetail.Address, new { @id = "Add" })
                        </div>
                        <div>
                            <label style="width:300px;">Complément Facultatif</label><label></label>
                            @Html.TextBoxFor(M => M.objIdenDetail.OptionalSupplement, new { @id = "OptionSup" })
                        </div>
                        <div>
                            <label>Code Postal</label>
                            @Html.TextBoxFor(M => M.objIdenDetail.PostalCode, new { @id = "PostCode" })
                        </div>

                    </div>

                    <div class="fleft">
                        <div class="border fleft"></div>
                        <div>
                            <label>Ville</label>
                            @Html.TextBoxFor(M => M.objIdenDetail.Village, new { @id = "Ville" })
                        </div>
                        <div>
                            <label>Pays</label><label></label>
                            <select class="fleft">
                                <option>France</option>
                            </select>
                        </div>
                        <div>
                            <label>Téléphone</label>
                            @Html.TextBoxFor(M => M.objIdenDetail.Telephone, new { @id = "Tele" })
                        </div>
                    </div>
                </div>
                <!--Votre Block-->
                <div id="votre" class="bottom_block">
                    <div class="votre_wrap txt_center">
                        <input type="checkbox" value="" />
                        <label>Utiliser cette adresse pour la facturation</label>
                        <div class="button">
                            <a href="#">
                                <input type="submit" name="submit" onclick="return Validate() ;" />ETAPE SUIVANTE</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Us Page Code End-->
    }
    <!--Footer Code Start-->
    <footer id="footer">
        <div class="footer-wrap">
            <div class="footerlinks">
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">Comment ça marche ?</li>
                        <li><a target="" href="#">Découvrez chaque mois</a></li>
                        <li><a target="" href="#">notre sélection de 2 BD livrées chez vous,</a></li>
                        <li><a target="" href="#">plus de nombreuses surprises.</a></li>
                    </ul>
                </div>
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">NOS OFFRES</li>
                        <li><a target="" href="#">S’abonner</a></li>
                        <li><a target="" href="#">Offrir</a></li>
                        <li><a target="" href="#">J’ai réçu un cadeau</a></li>
                    </ul>
                </div>
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">BESOIN D’AIDE</li>
                        <li><a class="phone_icon" target="" href="#">01 42 38 24 62</a></li>
                        <li><a class="mail_icon" target="" href="#">mayday@chacunsabulle.com</a></li>
                    </ul>
                </div>
                <div class="footer_block">
                    <ul>
                        <li class="footer_block_head">SUIVEZ-NOUS</li>
                        <li class="social_share_icons">
                            <a class="twitter_icon" target="" href="#"></a>
                        </li>
                        <li class="social_share_icons">
                            <a class="instagram_icon" target="" href="#"></a>
                        </li>
                        <li class="social_share_icons">
                            <a class="facebook_icon" target="" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer Code End-->
</body>
</html>

